.ed-container
    .ed-item.web-60.adress-container.desde-web.city-phone.gdl#aside-gdl
        ul.adress
            li Aire Acondicionado de Occidente S.A de C.V.
            li
                span Domicilio:
                | Colon 850, Colonia Moderna, Guadalajara, Jalisco
            //- li
            //-     span Teléfonos:
            //-     a(href="tel:3338558121") 33 38 55 81 21
            //-     |  /
            //-     a(href="tel:3336133718") 33 36 13 37 18
            //-     |  /
            //-     a(href="tel:3336193188") 33 36 19 31 88
            //-     |  /
            //-     a(href="tel:3336582338") 33 38 55 81 21
            li
              span Whatsapp:
              a(href="https://api.whatsapp.com/send?phone=+5213316006582&text=Quiero mas información sobre sus productos", target="_blank") 33 1600 6582
              i(style="margin: 0 .5em") /
              a(href="https://api.whatsapp.com/send?phone=+52133185079102&text=Quiero mas información sobre sus productos", target="_blank") 33 1850 7910
            li
                span Facuras:
                a(href="mailto:facturaciono@aadoccsa.com.mx") facturacion@aadoccsa.com.mx
    .ed-item.web-60.adress-container.desde-web.city-phone.qrt#aside-qrt
        ul.adress
            li Aire Acondicionado de Occidente S.A de C.V.
            li
                span Domicilio:
                | Santo Domingo #109-b, Col. Fraccionamiento Carretas, Queretaro, Queretaro
            li.phone
                span Teléfono:
                a(href="tel:33182457") 33 18 24 48 57
            //- li
            //-     span Whatsapp:
            //-     a(href="https://api.whatsapp.com/send?phone=+5213317665454&text=Quiero mas información sobre sus productos", target="_blank") 33 17 66 54 54
            li
                span Facuras:
                a(href="mailto:facturaciono@aadoccsa.com.mx") facturacion@aadoccsa.com.mx
    .ed-item.web-60.adress-container.desde-web.city-phone.leon
        ul.adress
            li Aire Acondicionado de Occidente S.A de C.V.
            li
                span Domicilio:
                | Boulevard Juan José Torres Landa 5306 local 5 Col. Jardines de Jerez
            li
                span Teléfonos:
                a(href="tel:4771675008") 47 71 67 50 08
                |  /
                a(href="tel:4771675009") 47 71 67 50 09
            li
                span Whatsapp:
                a(href="https://api.whatsapp.com/send?phone=+5213317665454&text=Quiero mas información sobre sus productos", target="_blank") 33 17 66 54 54
            li
                span E-mail:
                a(href="mailto:formulario@aadoccsa.com.mx") formulario@aadoccsa.com.mx
    .ed-item.web-40.redes-container
        //- form.formulario-aside(method='post', action='/php/enviar.php')
        //-   .input-group
        //-     input(id="nombre", placeholder="* Nombre:", name="nombre", pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\\s]+$", required)
        //-   .row
        //-     .input-group
        //-       input(type="text", placeholder="* Teléfono:", id="phone", name="telefono", pattern="^[0-9]{10}", required)
        //-     .input-group
        //-       input(type="email", placeholder="* Correo Electrónico:", id="email", name="email", pattern="^[a-z0-9]+(\\.[_a-z0-9]+)*@[a-z0-9-]+(\\.[a-z0-9-]+)*(\\.[a-z]{2,15})", required)
        //-   .input-group
        //-     textarea(id="mensaje", placeholder="* Mensaje:", name="mensaje", required)
        //-   p.co1 * Campos Obligatorios
        //-   button(type="submit").btn Enviar
        //- ul.redes
        //-     li: a.icon-facebook(href="https://www.facebook.com/aireacondicionado.aadoccsa", target="_blank")
