extends templates/template

//- Append permite añadir contenido al final de un bloque
append config
  -paginaActual = "contratistas"
  -titulo = "Contratistas"

block banner
  img.img(src="img/new/magnum19.jpg")
block main
  h1.title-page Te ofrecemos equipo mini-split marca Mirage a precio de mayoreo.
  p.text-page Así como:
  ul.contra-list
      li - Refacciones Mirage.
      li - Refacciones Universales.
      li - Compresores
      li - Refrigerantes
      li - Bombas de drenado para mini-split de 1 a 5tr.
      li - Tubería flexible por rollo.
      li - Aislante
      li - Tarjetas universales.
      li - Difusores de aire para cámaras… etc.

  