extends templates/template
append config
    -paginaActual = "promociones"
    -titulo = "Promociones"

block banner
    img.img(src="img/new/life-new.jpg")
block main
    h1.title-page Nuestras Promociones:

    h2.title-page Instalamos en cualquier parte
    .ed-container.imagenes
        -for(var i = 1; i<=4; i++)
            if (i<3)
                .ed-item.movil-50.web-25
                    img.imagenes-item(src="img/promo/small/promo0#{i}.jpg")
            else
                .ed-item.movil-50.web-25.desde-web
                    img.imagenes-item(src="img/promo/small/promo0#{i}.jpg")
