extends templates/template
append config
    -paginaActual = "servicios"
    -titulo = "Servicios"
block banner
    img.img(src="img/new/life-new.jpg")
block main
    <div id="main" class="ed-container">
    <h1 class="title-page">Nuestros Servicios</h1>
    <div class="ed-container">
    <div class="ed-item tablet-50 desde-tablet">
    <div class="ed-container imagenes">
    <div class="ed-item movil-50"><img src="img/productos/small/titanium8-small.jpg" class="imagenes-item"/></div>
    <div class="ed-item movil-50"><img src="img/productos/small/titanium7-small.jpg" class="imagenes-item"/></div>
    </div>
    <div class="ed-container imagenes">
    <div class="ed-item movil-50"><img src="img/paquetes/small/paquetes05.jpg" class="imagenes-item"/></div>
    <div class="ed-item movil-50"><img src="img/paquetes/small/paquetes04.jpg" class="imagenes-item"/></div>
    </div>
    </div>
    <div class="ed-item tablet-50">
    <ul class="servicios-list">
    <li>- Venta</li>
    <li>- Instalación</li>
    <li>- Reparación</li>
    <li>- Mantenimiento</li>
    <li>- Proyectos</li>
    <li>- Licitaciones</li>
    </ul>
    </div>
    </div>
    </div>

